.header {
    display: flex;
    justify-content: space-between;
    padding: 92px 24px 96px;
    align-items: center;
}

.header__link-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-left: 28px;
}

 .header__link-list-item {
    list-style: circle;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.header__link-list-item_no-bullit {
    list-style-type: none;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.header__link-list-item-main {
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    display: flex;
    margin-right: 146px;
}

.header__address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.18px;
    margin-right: 60px;
}

.adress__text {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.address__link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.cover__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    letter-spacing: 30px;
    padding: 0px 0px 135px;
    z-index: 1;
    position: relative;
}

.cover-span {
    display: block;
}

.cover__description {
    position: relative;
    z-index: 1;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}

.cover__description-text {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    background-color: transparent;
    color: white;
    border: 1px solid #FFF;
    width: 256px;
    height: 51px;
    flex-shrink: 0;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text {
    text-align: left;
    line-height: 115px;
}


.aligned-text_center {
    text-align: center;
    line-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.aligned-text_right .letter-spacing-extended {
    letter-spacing: 30px;
}

.overlay {
    position: absolute;
    background: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 165px 50px 50px 50px;
}

.lots {
    padding: 179px 0px 146px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding: 0px 0px 0px 24px;
    flex-grow: 1;
}

.lots__card-list-item {
    width: 334px;
    height: 563px;
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
}

.card {
    background-color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.card__title {
    flex-grow: 1;
    text-decoration: underline;
    text-transform: uppercase;
    color: #FFF;
    z-index: 4;
    position: relative;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    padding: 51px 40px 0px 40px;
}

.card__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    z-index: 5;
    padding: 0px 40px 48px 40px;
}

.lots__heading {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 0px 27px 64px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 0 64px;
}


.about {
    padding: 36px 24px 0px 24px;
}

.about__column {
     grid-template-columns: 344px 1fr;
     display: grid;

}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    place-self: center;
    margin: auto;
    display: flex;
}

.about__description {
    display: grid;
}
.about__title { 
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
    padding-left: 16px;
}

.card__text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.text {
    gap: 24px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    display: grid;
    grid-column-start: 2;
    padding-left: 16px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    inset: 0;
    margin: auto;
}

.footer {
    padding: 180px 50px 88px 50px;
    display: flex;
    justify-content: space-between;
}
.footer__social-list {
    display: flex;
    gap: 48px;
}


.footer__social-list-item {
    width: 48px;
    height: 48px;
    list-style-type: none;
    

}

.footer__menu_active {
    text-decoration: none;
}

.footer__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-left: 36px;
}

.footer__menu_link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.18px;
}